* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: #F9FBFF;
}
li {
    list-style-type: none;
}
p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}
h1,
h2,
h3,
h4 {
    font-size: 1em;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
button {
    border: 0;
    background: none;
    cursor: pointer;
}


.pagetop {
    max-width: 1404px;
    margin: 0 auto;
    display: flex;
}
.left {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 150px;
}
.logo {
    margin-top: 70px;
    margin-left: 80px;
}
.logolink {
    cursor: pointer;
}
.zagtop {
    position: absolute;
    top:450px;
    left:120px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 54px;
    line-height: 70px;
    color: #415167;
    z-index: 2;
}
.zagtop span {
    color: #F9FBFF;
    background: #C7A17A;
    padding: 5px 15px 5px 15px;
}
.center {
    position: relative;
}
.play {
    position: absolute;
    top: 340px;
    left: 285px;
    z-index: 2;
}
.play:hover {
    scale: 1.2;
}
.right {
    width: 30%;
    
    display: flex;
    flex-direction: column;
    background: #415167;
}
.basketarea {
    position: relative;
    margin-top: 70px;
    cursor: pointer;
}
.basket {
    position: absolute;
    left: 55px;
}
.basketnumber {
    position: absolute;
    left:70px;
    top: -10px;
    color: white;
    border: #C7A17A solid 1px;
    padding: 1px 5px 1px 5px;
    background: #C7A17A;
    border-radius: 50%;
}
.nav {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.home {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #EDF0F5;
    text-decoration: none;
}
.link {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #EDF0F5;
    text-decoration: none;
}
.pageperson {
    max-width: 1104px;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
}
.op {
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #415167;
}
.zag {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 30px;
    line-height: 34px;
    color: #415167;
    margin-top: 8px;
    text-align: center;
}
.buildbase {
    margin-top: 70px;
    display: flex;
    gap: 70px;
}
.baselist {
    max-width: 226px;
}
.buildzag {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #232C38;
    margin-top: 30px;
    margin-bottom: 12px;
}
.buildop {
    font-family: 'Nunito';
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #151D28;
}


.pagesale {
    position: relative;
    max-width: 1404px;
    margin: 0 auto;
    margin-top: 120px;
    padding-bottom: 120px;
    overflow-x: hidden;
    background:linear-gradient(90deg, #415167 0%, #415167 28%, transparent 28%, transparent 100%);
}
.opsale {
    text-align: center;
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #415167;
    padding-top: 70px;
}
.shop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1 fr 1fr;
    gap: 30px;
    margin-left: 130px;
    margin-top: 70px;
}
.item-list {
    max-width: 519px;
    background: #ffffff;
    display: flex;
    box-shadow: 1px 5px 5px 1px rgb(153, 154, 154,0.5);
}
.item-block {
    position: relative;
    width: 319px;
    text-align: start;
    padding: 42px 42px 0px 42px;
}
.sale {
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #C7A17A;
    text-decoration: none;
}
.item-name {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #232C38;
    margin-top: 8px;
}
.item-op {
    font-family: 'Nunito';
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #151D28;
    margin-top: 24px;
}
.buyarea {
    position: absolute;
    bottom: 20px;
    left: 42px;
}
.buy {
    padding: 6px 17px 6px 17px;
    background: #C7A17A;
    border-radius: 30px;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #F9FBFF;
}
.buy:hover {
    scale: 1.1;
    background: #415167;
}
.more {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #415167;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 10px;
}
.strelkaright{
    position: absolute;
    right: 130px;
    top:440px;
    max-width: 1404px;
    z-index: 2;
}
.strelkaright:hover {
    scale: 1.2;
}
.background {
    position: absolute;
    right: 0px;
    top: 0px;
    max-width: 1404px;
    width: 15%;
    height: 100%;
    background:linear-gradient(90deg, rgba(237,240,245,0.4)0%, rgba(237,240,245, 0.5)100%);
}
.backgroundleft {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    max-width: 1404px;
    width: 15%;
    height: 100%;
    opacity: 0.6;
    background:linear-gradient(90deg, rgba(237,240,245,0.4)0%, rgba(237,240,245, 0.5)100%);
}
.active {
    display:block;
    transform: translateX(calc(-540px*0));
    transition: transform 300ms linear;
}
.strelkaleft{
    position: absolute;
    left: 60px;
    top:440px;
    max-width: 1404px;
    z-index: 2;
    transform: rotate(180deg);
}
.strelkaleft:hover {
    scale: 1.2;
}


.pagegift {
    position: relative;
    max-width: 1404px;
    margin: 0 auto;
    padding-bottom: 120px;
    padding-top: 85px;
    background:linear-gradient(90deg, #EDF0F5 0%, #EDF0F5 80%, #ffffff 80%);
}
.blockset {
    display: flex;
    align-items: center;
    margin-top: 100px;

}
.shadowset {
    width: 560px;
    height: 460px;
    overflow-x: hidden;
} 
.set {
    position: relative;
    width: 550px;
    height: 460px;
    padding: 64px;
    background: #FFFFFF;
    box-shadow: 10px 160px 10px 1px rgba(105,101,101,0.40);
    z-index: 5;
}
.photoset {
    margin-left: 130px;
    background:linear-gradient(90deg, #EDF0F5 0%, #EDF0F5 50%, #ffffff 50%);
}
.coffe {
    display: flex;
    margin-top: 20px;
}
.coffe-item {
    margin-left: 10px;
    margin-right: 100px;
}
.coffe-item2 {
    margin-left: 10px;
}
.buygift {
    display: flex;
    gap:170px;
    margin-top: 30px;
}
.buygiftbut {
    padding: 6px 30px 6px 30px;
    background: #C7A17A;
    border-radius: 30px;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #F9FBFF;
}
.buygiftbut:hover {
    scale: 1.1;
    background: #415167;
}
.moregift {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #415167;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 5px;
}
.blocknumber {
    width: 90px;
    display: flex;
    flex-direction: column;
}
.numberset{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 30px;
    line-height: 34px;
    color: #415167;
    padding: 59px 33px 60px 33px;
}
.numberset:nth-child(1) {
    box-shadow:9px 10px 10px 1px rgba(105,101,101,0.40);
    z-index: 2;
    background: white;
    position: relative;
    left: -10px;
    top:0px;
}
.numberset:nth-child(2) {
    background: #EDF0F5;
    opacity: 0.5;
}
.numberset:nth-child(3) {
    background: #EDF0F5;
    opacity: 0.5;
}


.pagecombo {
    position: relative;
    width: 100%;
    max-width: 1404px;
    margin: 0 auto;
    padding-bottom: 120px;
    padding-top: 85px;
    overflow-x: hidden;
    background:linear-gradient(90deg, #F9FBFF 80%, #415167 80%, #415167 100%);
}
.blockcombo {
    margin-top: 64px;
    display: flex;
    gap: 30px;
    margin-left: 128px;
}
.tovarcombo {
    width: 100%;
    max-width: 360px;
    box-shadow: 1px 5px 5px 1px rgb(153, 154, 154,0.5);
    background: #ffffff;
}
.comboop {
    width: 100%;
    padding: 42px;
}
.combosale {
    display: flex;
    align-items: center;
}
.saleold {
    font-family: 'Nunito';
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: #415167;
    margin-left: 10px;
    
}
.buycombo {
    margin-top: 52px;
    display: flex;
    justify-content: space-between;
}
.strelkabot{
    position: absolute;
    right: 30px;
    top:270px;
    max-width: 1404px;
    z-index: 2;
}
.strelkabot:hover {
    scale: 1.2;
}
.backgroundbot {
    position: absolute;
    right: 0px;
    bottom: 120px;
    max-width: 1404px;
    width: 7.5%;
    height: 60%;
    background:linear-gradient(90deg, rgba(237,240,245,0.5)0%, rgba(237,240,245,0.5)100%);
}